<div class="panel panel-primary"> 
	<div class="panel-heading">Wanna make a comment... Here you go !!</div>
	<div class="panel-body">
		<%= form_for [post,comment] do |f| %>
		  <div class="form-group">
		    <%= f.label 'Comment Name' %>
		    <%= f.text_field :name, class: "form-control", required: true%>
		  </div>
		  <div class="form-group">
		    <%= f.label 'Comment' %>
		    <%= f.text_area :body, class: "form-control"%>
		  </div>
		  <%= f.submit class: 'btn btn-primary' %>
		<% end %>
	</div>	
</div>	