<% post.errors.full_messages.each do |error_message| %>
	<div class="alert warning">
		<%= error_message %>
	</div>
<% end %>


<%= form_for post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Category" %>
    <%= f.select :category_id , options_from_collection_for_select(Category.all, :id, :name), {include_blank: true} %>
  </div>
 <div class="checkbox">
    <label>
      <input type="checkbox"> Published?
    </label>
  </div>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>

<!-- params.require(:post).permit(:title, :body, :category_id, :published) -->