<%= post.errors.full_messages.inspect %>
<%= form_for post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), {include_blank: :true}, class: 'form-control' %>
  </div>
  <div class="checkbox">
    <%= f.label :published do %>
      <%= f.check_box :published %>
      Published
    <% end %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>