<section>
	<div>
		<%= post.inspect %>
		<span class="label label-default">  Category Id
			<%=  post.category_id %>
		</span>
		<span class="label label-default"> Published
			<%= post.published %>
		</span>
	</div>
	<h5> <%= post.title%> </h5>
	<p> <%= post.body %> </p>
</section>