<%= post.title %><br/>
<%= post.body %><br/>
<%= post.category&.name %><br/>
<%= post.published %>

<h2>Comments</h2>
<% post.comments.each do |c| %>
  <%= c.name %> - <%= link_to 'Edit', edit_post_comment_path(post, c) %> <%= link_to 'Delete', post_comment_path(post, c), method: :delete %></br> 
  <%= c.body %><br/>
<% end %>

<%= render 'comments/form' %>


